.MkOWj {
  display: flex;
  position: absolute;
  right: 24px;
  top: 14px;
}
.MkOWj > button {
  width: 32px;
  height: 32px;
}
.MkOWj > button svg path {
  fill: #808080;
}
.MkOWj > button:hover svg path {
  fill: #007bff;
}

