@font-face {
  font-family: "clockicons";
  src: url("/fonts/clockicons.woff2") format("woff");
}
._3rUBG {
  display: grid;
  height: 100vh;
  background-color: #fafafa;
  grid-template-columns: 1fr 340px;
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
@media (max-width: 900px) {
  ._3rUBG {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
}
._3rUBG > :nth-child(3) {
  background-color: #d7d7d7;
}
.EDED7 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 25px 25px 25px;
}
@media (max-width: 900px) {
  .EDED7 {
    padding: 71px 25px 25px;
  }
}
.EDED7 > :nth-child(1) > :nth-child(1) {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #d7d7d7;
  height: 175px;
  padding: 17px;
}
.EDED7 > :nth-child(1) > :nth-child(1).GTqyx > :nth-child(1) {
  animation: _3cF6N 0.4s;
  bottom: 400px;
  opacity: 0.1;
}
@-moz-keyframes _3cF6N {
  0% {
    bottom: 79px;
    opacity: 1;
  }
  100% {
    bottom: 200px;
    opacity: 0.1;
  }
}
@-webkit-keyframes _3cF6N {
  0% {
    bottom: 79px;
    opacity: 1;
  }
  100% {
    bottom: 200px;
    opacity: 0.1;
  }
}
@-o-keyframes _3cF6N {
  0% {
    bottom: 79px;
    opacity: 1;
  }
  100% {
    bottom: 200px;
    opacity: 0.1;
  }
}
@keyframes _3cF6N {
  0% {
    bottom: 79px;
    opacity: 1;
  }
  100% {
    bottom: 200px;
    opacity: 0.1;
  }
}
.EDED7 > :nth-child(1) > :nth-child(1).GTqyx > :nth-child(2) {
  animation: _1MQCF 0.4s;
  bottom: 87px;
  color: #ff8700;
  font-size: 40px;
}
@-moz-keyframes _1MQCF {
  0% {
    bottom: 17px;
    font-size: 24px;
    color: #808080;
  }
  100% {
    bottom: 87px;
    color: #ff8700;
    font-size: 40px;
  }
}
@-webkit-keyframes _1MQCF {
  0% {
    bottom: 17px;
    font-size: 24px;
    color: #808080;
  }
  100% {
    bottom: 87px;
    color: #ff8700;
    font-size: 40px;
  }
}
@-o-keyframes _1MQCF {
  0% {
    bottom: 17px;
    font-size: 24px;
    color: #808080;
  }
  100% {
    bottom: 87px;
    color: #ff8700;
    font-size: 40px;
  }
}
@keyframes _1MQCF {
  0% {
    bottom: 17px;
    font-size: 24px;
    color: #808080;
  }
  100% {
    bottom: 87px;
    color: #ff8700;
    font-size: 40px;
  }
}
.EDED7 > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  position: absolute;
  right: 17px;
  bottom: 79px;
  padding: 17px 0;
  overflow-x: scroll;
  width: calc(100% - 34px);
}
.EDED7 > :nth-child(1) > :nth-child(1) > :nth-child(1) > input {
  font-size: 40px;
  color: #ff8700;
  text-align: right;
  width: 100%;
}
.EDED7 > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  position: absolute;
  right: 17px;
  bottom: 17px;
  font-size: 24px;
  text-align: right;
  color: #808080;
  cursor: pointer;
  padding: 17px 0;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.EDED7 > :nth-child(1) > :nth-child(2) {
  display: grid;
  grid-template-columns: repeat(7, minmax(20px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 1px;
  background-color: #d7d7d7;
}
.EDED7 > :nth-child(1) > :nth-child(2) > button {
  font-size: 28px;
  user-select: none;
  background-color: #e6e6e6;
  transition: 0.3s;
  overflow: hidden;
}
.EDED7 > :nth-child(1) > :nth-child(2) > button.KM8w- {
  background-color: #f2f2f2;
}
.EDED7 > :nth-child(1) > :nth-child(2) > button._1W5xz {
  background-color: #ff8700;
}
.EDED7 > :nth-child(1) > :nth-child(2) > button:hover {
  background-color: #d27d00;
}
.t4mt2 {
  background-color: #e6e6e6;
  padding: 25px;
}
.t4mt2 > :nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.t4mt2 > :nth-child(1):hover>:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
.t4mt2 > :nth-child(1) > :nth-child(1) {
  font-size: 20px;
  padding: 14px;
  text-decoration: underline;
}
.t4mt2 > :nth-child(1) > :nth-child(2) {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
  padding: 14px;
  color: #dc3545;
}
.t4mt2 > :nth-child(2) {
  font-size: 14px;
}
.t4mt2 > :nth-child(2) > div {
  display: flex;
  font-size: 16px;
  padding: 4px 8px;
  animation: _18kJi 0.3s;
}
.t4mt2 > :nth-child(2) > div:not(.V0TbU) {
  white-space: nowrap;
}
.t4mt2 > :nth-child(2) > div > div:hover {
  cursor: pointer;
  background-color: #28a745;
}
.t4mt2 > :nth-child(2) > div > div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.t4mt2 > :nth-child(2) > div > * {
  padding: 2px 4px;
}
.t4mt2 > :nth-child(2) > div > :nth-child(1) {
  flex: 0 1 auto;
}
.t4mt2 > :nth-child(2) > div > :nth-child(3) {
  padding-left: 5px;
  flex: 1 0 auto;
}
@-moz-keyframes _18kJi {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes _18kJi {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}
@-o-keyframes _18kJi {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}
@keyframes _18kJi {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 30px;
    opacity: 1;
  }
}

.MkOWj {
  display: flex;
  position: absolute;
  right: 24px;
  top: 14px;
}
.MkOWj > button {
  width: 32px;
  height: 32px;
}
.MkOWj > button svg path {
  fill: #808080;
}
.MkOWj > button:hover svg path {
  fill: #007bff;
}

._3z8yJ {
  display: grid;
  height: 100vh;
  background-color: #fafafa;
  grid-template-columns: 1fr 340px;
  grid-template-rows: minmax(100px, 1fr);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
@media (max-width: 700px) {
  ._3z8yJ {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 100vh) minmax(100px, auto);
    height: 100%;
  }
}
._2RyGu {
  position: relative;
  overflow: hidden;
}
._2RyGu > :not(:last-child) {
  display: none;
  font-size: 18px;
}
._2RyGu > :not(:last-child)._3VenN {
  display: flex;
}
.geWN5 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.geWN5 > div {
  padding: 20px;
}
.geWN5 > :nth-child(1) {
  flex: 0 0 71px;
  background-color: #d7d7d7;
}
.geWN5 > :nth-child(2) {
  flex: 1 1;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.geWN5 > :nth-child(2) > div {
  margin: 5px 0px 3px;
  font-size: 16px;
  line-height: 24px;
  text-indent: 10px;
}
.geWN5 > :nth-child(2) > div > :nth-child(1) {
  font-size: 19px;
  padding: 4px 0px;
  text-decoration: underline;
}
.geWN5 > :nth-child(2) > :nth-child(1) > div {
  font-size: 21px;
  text-decoration: none;
}
.geWN5 > :nth-child(2) > :nth-child(2):after {
  display: block;
  content: '';
  width: 100%;
  margin: 10px auto 5px;
  height: 1px;
  background-color: #808080;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw {
  display: flex;
  padding: 5px 0px;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(1) {
  text-decoration: underline;
  color: #808080;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #c8c8c8;
  margin-right: 10px;
  flex: 0 1 auto;
  width: 100%;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2) {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #28a745;
  transition: 0.3 background-color;
  flex: 0 1 300px;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2):hover {
  background-color: #30363d;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2).lKp4N {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2).lKp4N:hover {
  background-color: #a03545;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._3QMWZ {
  background-color: #28a745;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._3QMWZ:hover {
  background-color: #287845;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2).fQNax {
  background-color: #007bff;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2).fQNax:hover {
  background-color: #007ba0;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._3TTGS {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._3TTGS:hover {
  background-color: #c8a007;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._1UXJ5 {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2)._1UXJ5:hover {
  background-color: #d27d00;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) > ._1E3Lw > :nth-child(2):hover {
  background-color: #287845;
}
.geWN5 > :nth-child(2) > :nth-child(2) > :nth-child(2) .WAX_L {
  text-decoration: underline;
  color: #808080;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #c8c8c8;
  cursor: pointer;
}
.geWN5 > :nth-child(2) > :nth-child(3) {
  margin: 20px 0px;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) {
  display: flex;
  margin: 10px 5px;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(1) {
  flex: 1 1;
  text-decoration: underline;
  color: #808080;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #c8c8c8;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2) {
  flex: 0 0;
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2):hover {
  background-color: #30363d;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2).lKp4N {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2).lKp4N:hover {
  background-color: #a03545;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._3QMWZ {
  background-color: #28a745;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._3QMWZ:hover {
  background-color: #287845;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2).fQNax {
  background-color: #007bff;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2).fQNax:hover {
  background-color: #007ba0;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._3TTGS {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._3TTGS:hover {
  background-color: #c8a007;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._1UXJ5 {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2)._1UXJ5:hover {
  background-color: #d27d00;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(3) > :nth-child(2):hover {
  background-color: #c8a007;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4) {
  position: relative;
  margin: 30px auto;
  width: 300px;
  height: 300px;
  background-color: #d7d7d7;
  border-radius: 20px;
  overflow: hidden;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4) > :nth-child(2) {
  color: #505050;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4):hover {
  background-color: #c8c8c8;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4):hover > :nth-child(2) {
  text-decoration: underline;
  color: #282828;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4) > :nth-child(1) {
  display: none;
  width: 100% !important;
  height: 100% !important;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4) > :nth-child(2) {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4).OaYUe {
  background-color: rgba(0,0,0,0);
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4).OaYUe > :nth-child(1) {
  display: block;
}
.geWN5 > :nth-child(2) > :nth-child(3) > :nth-child(2) > :nth-child(4)._2SuuI > :nth-child(2) {
  display: block;
}
.geWN5 > :nth-child(3) {
  display: flex;
  background-color: #d7d7d7;
}
.geWN5 > :nth-child(3) > :nth-child(1) {
  flex: 1 1;
  font-size: 14px;
  color: #808080;
}
.geWN5 > :nth-child(3) > :nth-child(2) {
  flex: 0 0;
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2):hover {
  background-color: #30363d;
}
.geWN5 > :nth-child(3) > :nth-child(2).lKp4N {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2).lKp4N:hover {
  background-color: #a03545;
}
.geWN5 > :nth-child(3) > :nth-child(2)._3QMWZ {
  background-color: #28a745;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2)._3QMWZ:hover {
  background-color: #287845;
}
.geWN5 > :nth-child(3) > :nth-child(2).fQNax {
  background-color: #007bff;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2).fQNax:hover {
  background-color: #007ba0;
}
.geWN5 > :nth-child(3) > :nth-child(2)._3TTGS {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2)._3TTGS:hover {
  background-color: #c8a007;
}
.geWN5 > :nth-child(3) > :nth-child(2)._1UXJ5 {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.geWN5 > :nth-child(3) > :nth-child(2)._1UXJ5:hover {
  background-color: #d27d00;
}
.geWN5 > :nth-child(3) > :nth-child(2):hover {
  background-color: #d27d00;
}
._1uzx3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
._1uzx3 > ._1daCW {
  padding: 8px 42px;
  background-color: #d7d7d7;
  justify-content: space-between;
}
._1uzx3 > ._1daCW > :nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 34px;
}
._1uzx3 > ._1daCW > :nth-child(2) {
  padding-top: 5px;
  display: flex;
}
._1uzx3 > ._1daCW > :nth-child(2) > div {
  font-size: 14px;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._1uzx3 > ._1daCW > :nth-child(2) > div > span:nth-child(1) {
  color: #808080;
}
._1uzx3 > ._1daCW > :nth-child(2) > div > span:nth-child(2) {
  margin-left: 6px;
  text-decoration: underline;
  text-decoration-style: dashed;
}
._1uzx3 > ._1daCW > :nth-child(2) > div > span.lKp4N {
  color: #dc3545;
}
._1uzx3 > ._1daCW > :nth-child(2) > div > span._3QMWZ {
  color: #28a745;
}
._1uzx3 > ._1daCW > :nth-child(2) > div > span._1UXJ5 {
  color: #ff8700;
}
._1uzx3 > .qGF0Q {
  display: flex;
  flex: 1 1;
  height: calc(100% - 71px);
  flex-direction: column;
}
._1uzx3 > .qGF0Q > :nth-child(1) {
  padding: 0px 20px;
  flex: 1 1;
  overflow-y: scroll;
  scrollbar-width: thin;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div {
  position: relative;
  color: #808080;
  max-width: 70%;
  clear: both;
  margin: 2px 0px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._6wYSl {
  float: left;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div.Yr4RT {
  float: right;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._6wYSl,
._1uzx3 > .qGF0Q > :nth-child(1) > div.Yr4RT {
  font-size: 16px;
  background-color: rgba(100,100,100,0.3);
  border-radius: 8px;
  padding: 8px 45px 8px 10px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._6wYSl > :nth-child(1),
._1uzx3 > .qGF0Q > :nth-child(1) > div.Yr4RT > :nth-child(1) {
  position: absolute;
  right: 6px;
  bottom: 2px;
  font-size: 12px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz {
  display: flex;
  cursor: pointer;
  padding: 4px 10px 4px 10px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz:hover {
  background-color: rgba(100,100,100,0.1);
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz:hover > :nth-child(2) > :nth-child(2) {
  opacity: 1;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(2) {
  flex: 0 0 34px;
  padding: 4px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(2) > path {
  fill: #808080;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(3) {
  flex: 1 1;
  width: calc(100% - 30px);
  margin-right: 34px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(3) > :nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 600;
  height: 17px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(3) > :nth-child(3) {
  font-size: 13px;
  text-transform: uppercase;
  color: #808080;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3TaWz > :nth-child(3) > :nth-child(2) {
  position: absolute;
  top: 3px;
  right: 6px;
  font-size: 12px;
}
._1uzx3 > .qGF0Q > :nth-child(1) > div._3yajI {
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  margin: 5px auto;
  text-align: center;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  background-color: #ff8700;
  transition: 0.3 background-color;
  display: block !important;
  margin: 5px auto;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button:hover {
  background-color: #30363d;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button.lKp4N {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button.lKp4N:hover {
  background-color: #a03545;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._3QMWZ {
  background-color: #28a745;
  transition: 0.3 background-color;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._3QMWZ:hover {
  background-color: #287845;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button.fQNax {
  background-color: #007bff;
  transition: 0.3 background-color;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button.fQNax:hover {
  background-color: #007ba0;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._3TTGS {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._3TTGS:hover {
  background-color: #c8a007;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._1UXJ5 {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button._1UXJ5:hover {
  background-color: #d27d00;
}
._1uzx3 > .qGF0Q > :nth-child(1) > button:hover {
  background-color: #d27d00;
}
._1uzx3 > .qGF0Q > form {
  padding: 0px 30px;
  flex: 0 0;
  background-color: #d7d7d7;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div {
  display: flex;
  padding-top: 10px;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div:hover > :nth-child(2) > :nth-child(2) {
  opacity: 1;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(1) {
  flex: 0 0 34px;
  padding: 4px;
  cursor: pointer;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(1) > svg > path {
  fill: #808080;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) {
  display: flex;
  flex: 1 1;
  flex-flow: wrap;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) > :nth-child(1) {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 600;
  height: 17px;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) > :nth-child(2) {
  flex: 0 0;
  opacity: 0;
  flex: 0 0 20px;
  height: 20px;
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) > :nth-child(2) > svg {
  width: 100%;
  height: 100%;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) > :nth-child(2) > svg path {
  fill: #f00;
}
._1uzx3 > .qGF0Q > form > :nth-child(1) > div > :nth-child(2) > :nth-child(3) {
  flex: 1 1 100%;
  font-size: 13px;
  text-transform: uppercase;
  color: #808080;
  height: 17px;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) {
  display: flex;
  padding: 10px 0px;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(1),
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(3) {
  flex: 0 0 34px;
  height: 34px;
  cursor: pointer;
  padding: 4px;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(1) > svg,
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(3) > svg {
  width: 100%;
  height: 100%;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(1) > svg > path,
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(3) > svg > path {
  fill: #808080;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(1):hover>svg>path,
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(3):hover>svg>path {
  fill: #007bff;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(1) > input,
._1uzx3 > .qGF0Q > form > :nth-child(2) > label:nth-child(3) > input {
  display: none;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > input:nth-child(2) {
  text-decoration: underline;
  color: #808080;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #c8c8c8;
  flex: 1 1;
}
._1uzx3 > .qGF0Q > form > :nth-child(2) > input:nth-child(2):focus {
  border: 2px solid #007bff;
}
._1uzx3 > ._1NBBT {
  position: absolute;
  left: 50%;
}
._1uzx3 > .zK1t_ {
  position: absolute;
  left: 50%;
}
.DmurR {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  overflow: hidden;
}
@media (max-width: 700px) {
  .DmurR {
    max-height: 50vh;
  }
}
.DmurR > :nth-child(1) {
  flex: 0 0 auto;
  font-size: 20px;
  padding: 24px 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #28a745;
  transition: 0.3 background-color;
  color: #fafafa;
}
.DmurR > :nth-child(1):hover {
  background-color: #287845;
}
.DmurR > :nth-child(2) {
  flex: 1 1;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.DmurR > :nth-child(2) > div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  padding: 14px;
}
.DmurR > :nth-child(2) > div:after {
  display: block;
  position: absolute;
  left: 3%;
  bottom: 1px;
  content: "";
  width: 94%;
  height: 1px;
  background-color: rgba(200,200,200,0.5);
}
.DmurR > :nth-child(2) > div > :nth-child(1) {
  font-size: 18px;
  height: 24px;
  color: #808080;
  flex: 1 1 calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.DmurR > :nth-child(2) > div > :nth-child(1):hover {
  text-decoration: underline;
}
.DmurR > :nth-child(2) > div:hover > :nth-child(2) {
  opacity: 1;
}
.DmurR > :nth-child(2) > div > :nth-child(2) {
  opacity: 0;
  flex: 0 0 20px;
  height: 20px;
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.DmurR > :nth-child(2) > div > :nth-child(2) > svg {
  width: 100%;
  height: 100%;
}
.DmurR > :nth-child(2) > div > :nth-child(2) > svg path {
  fill: #f00;
}
.DmurR > :nth-child(2) > div > :nth-child(3),
.DmurR > :nth-child(2) > div > :nth-child(4) {
  font-size: 13px;
  flex: 1 1 100%;
}

@font-face {
  font-family: "clockicons";
  src: url("/fonts/clockicons.woff2") format("woff");
}
._1ayUX {
  display: grid;
  height: 100vh;
  background-color: #fafafa;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr)) 50px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
@media (max-width: 1080px) {
  ._1ayUX._1ayUX {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 320px 220px min-content 240px 50px;
    height: auto;
  }
}
.lt6X2 {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 550px) {
  .lt6X2 {
    font-size: 20vw;
  }
  .lt6X2 > div:nth-child(1) {
    font-size: 1em;
  }
  .lt6X2 > div:nth-child(2) {
    font-size: 0.3em;
  }
}
.lt6X2 > :nth-child(1) {
  font-size: 120px;
  color: #ff8700;
  line-height: 100%;
  align-self: center;
}
.lt6X2 > :nth-child(2) {
  font-size: 30px;
  margin: 10px 0;
  color: #ff8700;
  align-self: center;
  text-align: center;
}
.lt6X2 > :nth-child(2):first-letter {
  text-transform: uppercase;
}
._3P9wF {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0px auto;
  width: 100%;
  max-width: 400px;
}
._3P9wF > :nth-child(1) {
  display: flex;
  position: relative;
  width: 100%;
  padding: 3px 6px;
  transition: 0.3s color;
  font-size: 20px;
  margin: 3px 0 6px;
  height: 42px;
}
._3P9wF > :nth-child(1) > button {
  flex: 0 0 50%;
  padding: 6px 3px;
  transition: 0.3s color;
}
._3P9wF > :nth-child(1) > button:nth-child(1) {
  color: #28a745;
}
._3P9wF > :nth-child(1) > button:nth-child(2) {
  color: #808080;
}
._3P9wF > :nth-child(1)::before {
  display: block;
  position: absolute;
  content: '';
  height: 4px;
  border-radius: 4px 4px 0 0;
  width: 40%;
  left: 5%;
  bottom: 4px;
  background-color: #28a745;
  transition: 0.3s left;
}
._3P9wF > :nth-child(1).cFffd::before {
  left: 55%;
}
._3P9wF > :nth-child(1).cFffd > button:nth-child(1) {
  color: #808080;
}
._3P9wF > :nth-child(1).cFffd > button:nth-child(2) {
  color: #28a745;
}
._3P9wF > :nth-child(2) {
  display: flex;
  position: relative;
}
._3P9wF > :nth-child(2) > div {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid #808080;
  margin: 6px 0 3px;
  width: 100%;
}
._3P9wF > :nth-child(2) > div > div:nth-child(1) {
  display: inline-block;
  font-size: 14px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: #f2f2f2;
  padding: 0 3px;
}
._3P9wF > :nth-child(2) > div > select:nth-child(2),
._3P9wF > :nth-child(2) > div > input:nth-child(2) {
  padding-left: 24px;
}
._3P9wF > :nth-child(2) > div > input,
._3P9wF > :nth-child(2) > div > select {
  height: 40px;
  padding: 0px 4px;
  flex: 1 1 auto;
}
._3P9wF > :nth-child(2) > div > select,
._3P9wF > :nth-child(2) > div > button {
  transition: 0.3s background-color;
}
._3P9wF > :nth-child(2) > div > button {
  flex: 0 0 24px;
  height: 24px;
  min-width: 24px;
  margin: 8px;
  font-size: 20px;
  line-height: 24px;
}
._3P9wF > :nth-child(2) > div > button:hover {
  color: #ff8700;
}
._3P9wF > :nth-child(2) > div:not(:last-child) {
  margin-right: 6px;
}
._3P9wF > :nth-child(3) {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid #808080;
  margin: 6px 0 3px;
  width: 100%;
}
._3P9wF > :nth-child(3) > div:nth-child(1) {
  display: inline-block;
  font-size: 14px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: #f2f2f2;
  padding: 0 3px;
}
._3P9wF > :nth-child(3) > select:nth-child(2),
._3P9wF > :nth-child(3) > input:nth-child(2) {
  padding-left: 24px;
}
._3P9wF > :nth-child(3) > input,
._3P9wF > :nth-child(3) > select {
  height: 40px;
  padding: 0px 4px;
  flex: 1 1 auto;
}
._3P9wF > :nth-child(3) > select,
._3P9wF > :nth-child(3) > button {
  transition: 0.3s background-color;
}
._3P9wF > :nth-child(3) > button {
  flex: 0 0 24px;
  height: 24px;
  min-width: 24px;
  margin: 8px;
  font-size: 20px;
  line-height: 24px;
}
._3P9wF > :nth-child(3) > button:hover {
  color: #ff8700;
}
._3P9wF > :nth-child(4) {
  display: flex;
}
._3P9wF > :nth-child(4) > :nth-child(1) {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: 1px solid #808080;
  margin: 6px 0 3px;
  width: 100%;
}
._3P9wF > :nth-child(4) > :nth-child(1) > div:nth-child(1) {
  display: inline-block;
  font-size: 14px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: #f2f2f2;
  padding: 0 3px;
}
._3P9wF > :nth-child(4) > :nth-child(1) > select:nth-child(2),
._3P9wF > :nth-child(4) > :nth-child(1) > input:nth-child(2) {
  padding-left: 24px;
}
._3P9wF > :nth-child(4) > :nth-child(1) > input,
._3P9wF > :nth-child(4) > :nth-child(1) > select {
  height: 40px;
  padding: 0px 4px;
  flex: 1 1 auto;
}
._3P9wF > :nth-child(4) > :nth-child(1) > select,
._3P9wF > :nth-child(4) > :nth-child(1) > button {
  transition: 0.3s background-color;
}
._3P9wF > :nth-child(4) > :nth-child(1) > button {
  flex: 0 0 24px;
  height: 24px;
  min-width: 24px;
  margin: 8px;
  font-size: 20px;
  line-height: 24px;
}
._3P9wF > :nth-child(4) > :nth-child(1) > button:hover {
  color: #ff8700;
}
._3P9wF > :nth-child(4) > :nth-child(2) {
  flex: 0 0;
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  margin: 0;
  border-radius: 6px;
  height: 42px;
  background-color: #ff8700;
  transition: 0.3 background-color;
  margin: 6px 0px 3px 5px;
}
._3P9wF > :nth-child(4) > :nth-child(2):hover {
  background-color: #30363d;
}
._3P9wF > :nth-child(4) > :nth-child(2)._2pU2v {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
._3P9wF > :nth-child(4) > :nth-child(2)._2pU2v:hover {
  background-color: #a03545;
}
._3P9wF > :nth-child(4) > :nth-child(2)._1KloF {
  background-color: #28a745;
  transition: 0.3 background-color;
}
._3P9wF > :nth-child(4) > :nth-child(2)._1KloF:hover {
  background-color: #287845;
}
._3P9wF > :nth-child(4) > :nth-child(2)._2DWHv {
  background-color: #007bff;
  transition: 0.3 background-color;
}
._3P9wF > :nth-child(4) > :nth-child(2)._2DWHv:hover {
  background-color: #007ba0;
}
._3P9wF > :nth-child(4) > :nth-child(2)._3PjcV {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
._3P9wF > :nth-child(4) > :nth-child(2)._3PjcV:hover {
  background-color: #c8a007;
}
._3P9wF > :nth-child(4) > :nth-child(2)._1T_Nf {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
._3P9wF > :nth-child(4) > :nth-child(2)._1T_Nf:hover {
  background-color: #d27d00;
}
._3P9wF > :nth-child(4) > :nth-child(2):hover {
  background-color: #d27d00;
}
.ytcxa {
  display: block;
  grid-column: 3/4;
  grid-row: 1/5;
  overflow: hidden;
  overflow-y: scroll;
  min-width: 450px;
  padding: 25px;
  animation: oCtOi 0.3s;
  background-color: #e6e6e6;
}
@media (max-width: 550px) {
  .ytcxa {
    min-width: 0px;
  }
}
.ytcxa:empty {
  display: none;
  min-width: 0px;
  width: 0px;
}
@media (max-width: 1080px) {
  .ytcxa {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
.ytcxa > div {
  display: grid;
  position: relative;
  grid-template-columns: 160px repeat(2, minmax(0px, 1fr));
  grid-template-rows: 16px repeat(3, 44px);
  grid-gap: 3px;
  margin: 0px 4px 14px;
  animation: _2pQVs 0.5s;
}
.ytcxa > div:not(:last-child)::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #808080;
}
.ytcxa > div > :nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 12px;
  color: #28a745;
}
.ytcxa > div > :nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/3;
  font-weight: bold;
  text-align: center;
}
.ytcxa > div > :nth-child(4),
.ytcxa > div > :nth-child(3) {
  display: flex;
  position: relative;
  justify-content: center;
}
.ytcxa > div > :nth-child(4) > div:nth-child(1),
.ytcxa > div > :nth-child(3) > div:nth-child(1) {
  display: inline-block;
  font-size: 12px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: rgba(0,0,0,0);
  padding: 0 3px;
  text-decoration: underline;
}
.ytcxa > div > :nth-child(4) > :nth-child(n + 2),
.ytcxa > div > :nth-child(3) > :nth-child(n + 2) {
  align-self: center;
}
.ytcxa > div > :nth-child(4) > :nth-child(2),
.ytcxa > div > :nth-child(3) > :nth-child(2) {
  font-size: 20px;
}
.ytcxa > div > :nth-child(5) {
  display: flex;
  position: relative;
  justify-content: center;
}
.ytcxa > div > :nth-child(5) > div:nth-child(1) {
  display: inline-block;
  font-size: 12px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: rgba(0,0,0,0);
  padding: 0 3px;
  text-decoration: underline;
}
.ytcxa > div > :nth-child(5) > :nth-child(n + 2) {
  align-self: center;
}
.ytcxa > div > :nth-child(6) {
  display: flex;
  position: relative;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 3/5;
}
.ytcxa > div > :nth-child(6) > div:nth-child(1) {
  display: inline-block;
  font-size: 12px;
  color: #000;
  position: absolute;
  left: 16px;
  top: -8px;
  background-color: rgba(0,0,0,0);
  padding: 0 3px;
  text-decoration: underline;
}
.ytcxa > div > :nth-child(6) > :nth-child(n + 2) {
  align-self: center;
}
.ytcxa > div > :nth-child(6) > :nth-child(2) {
  font-size: 40px;
  line-height: 80px;
  color: #ff8700;
}
.ytcxa > div > button {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  padding: 5px 0;
}
.ytcxa > div > button:hover {
  background-color: #30363d;
}
.ytcxa > div > button._2pU2v {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
.ytcxa > div > button._2pU2v:hover {
  background-color: #a03545;
}
.ytcxa > div > button._1KloF {
  background-color: #28a745;
  transition: 0.3 background-color;
}
.ytcxa > div > button._1KloF:hover {
  background-color: #287845;
}
.ytcxa > div > button._2DWHv {
  background-color: #007bff;
  transition: 0.3 background-color;
}
.ytcxa > div > button._2DWHv:hover {
  background-color: #007ba0;
}
.ytcxa > div > button._3PjcV {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.ytcxa > div > button._3PjcV:hover {
  background-color: #c8a007;
}
.ytcxa > div > button._1T_Nf {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.ytcxa > div > button._1T_Nf:hover {
  background-color: #d27d00;
}
@-moz-keyframes _2pQVs {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes _2pQVs {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes _2pQVs {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes _2pQVs {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes oCtOi {
  0% {
    min-width: 0px;
    width: 0px;
  }
  100% {
    width: 450px;
    min-width: 450px;
  }
}
@-webkit-keyframes oCtOi {
  0% {
    min-width: 0px;
    width: 0px;
  }
  100% {
    width: 450px;
    min-width: 450px;
  }
}
@-o-keyframes oCtOi {
  0% {
    min-width: 0px;
    width: 0px;
  }
  100% {
    width: 450px;
    min-width: 450px;
  }
}
@keyframes oCtOi {
  0% {
    min-width: 0px;
    width: 0px;
  }
  100% {
    width: 450px;
    min-width: 450px;
  }
}
._2qjTS {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
._2qjTS > :nth-child(1) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 0 0 22px;
  font-size: 13px;
  text-decoration: underline;
}
._2qjTS > :nth-child(2) {
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 32px;
  grid-gap: 2px 2px;
}
._2qjTS > :nth-child(2) > button {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  background-color: #007bff;
  transition: 0.3 background-color;
  font-size: 16px;
  border-radius: 0px;
}
._2qjTS > :nth-child(2) > button:hover {
  background-color: #30363d;
}
._2qjTS > :nth-child(2) > button._2pU2v {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
._2qjTS > :nth-child(2) > button._2pU2v:hover {
  background-color: #a03545;
}
._2qjTS > :nth-child(2) > button._1KloF {
  background-color: #28a745;
  transition: 0.3 background-color;
}
._2qjTS > :nth-child(2) > button._1KloF:hover {
  background-color: #287845;
}
._2qjTS > :nth-child(2) > button._2DWHv {
  background-color: #007bff;
  transition: 0.3 background-color;
}
._2qjTS > :nth-child(2) > button._2DWHv:hover {
  background-color: #007ba0;
}
._2qjTS > :nth-child(2) > button._3PjcV {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
._2qjTS > :nth-child(2) > button._3PjcV:hover {
  background-color: #c8a007;
}
._2qjTS > :nth-child(2) > button._1T_Nf {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
._2qjTS > :nth-child(2) > button._1T_Nf:hover {
  background-color: #d27d00;
}
._2qjTS > :nth-child(2) > button:hover {
  background-color: #007ba0;
}
.eC-Ve {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  transition-duration: 0.3s;
  transition-property: opacity visibility;
}
.eC-Ve.spHki {
  visibility: visible;
  opacity: 1;
}
.eC-Ve.spHki > div {
  top: 25%;
}
.eC-Ve > div {
  display: flex;
  position: absolute;
  overflow: hidden;
  flex-direction: column;
  background-color: #f2f2f2;
  left: 25%;
  top: -100vh;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.5);
  text-align: center;
  transition-duration: 0.5s;
  transition-property: top;
}
@media (max-width: 1080px) {
  .eC-Ve > div {
    width: 540px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (max-width: 560px) {
  .eC-Ve > div {
    width: 100vw;
    left: 0;
    transform: none;
    border-radius: 0;
  }
}
.eC-Ve > div > :nth-child(1) {
  display: flex;
  padding: 0px 10px;
  flex: 1 1;
  position: relative;
  justify-content: center;
}
.eC-Ve > div > :nth-child(1) > :nth-child(1) {
  position: sticky;
  top: 0;
  font-size: 100px;
  padding: 10px;
  color: #ff8700;
  background-color: #f2f2f2;
  align-self: center;
}
.eC-Ve > div > :nth-child(1) > :nth-child(n + 2) {
  font-size: 40px;
}
.eC-Ve > div > :nth-child(2) {
  flex: 0 0 auto;
  padding: 10px;
}
.eC-Ve > div > :nth-child(2) > button {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
}
.eC-Ve > div > :nth-child(2) > button:hover {
  background-color: #30363d;
}
.eC-Ve > div > :nth-child(2) > button._2pU2v {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
.eC-Ve > div > :nth-child(2) > button._2pU2v:hover {
  background-color: #a03545;
}
.eC-Ve > div > :nth-child(2) > button._1KloF {
  background-color: #28a745;
  transition: 0.3 background-color;
}
.eC-Ve > div > :nth-child(2) > button._1KloF:hover {
  background-color: #287845;
}
.eC-Ve > div > :nth-child(2) > button._2DWHv {
  background-color: #007bff;
  transition: 0.3 background-color;
}
.eC-Ve > div > :nth-child(2) > button._2DWHv:hover {
  background-color: #007ba0;
}
.eC-Ve > div > :nth-child(2) > button._3PjcV {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
.eC-Ve > div > :nth-child(2) > button._3PjcV:hover {
  background-color: #c8a007;
}
.eC-Ve > div > :nth-child(2) > button._1T_Nf {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
.eC-Ve > div > :nth-child(2) > button._1T_Nf:hover {
  background-color: #d27d00;
}

@font-face {
  font-family: "clockicons";
  src: url("/fonts/clockicons.woff2") format("woff");
}
._11rmJ {
  display: grid;
  height: 100vh;
  background-color: #fafafa;
  grid-template-columns: 1fr 340px;
  grid-template-rows: minmax(100px, 1fr);
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
@media (max-width: 760px) {
  ._11rmJ {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto);
    height: auto;
  }
}
._2lpMf {
  display: flex;
  position: relative;
  padding: 25px;
  overflow: hidden;
}
._2lpMf > :nth-child(1) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}
._2lpMf > :nth-child(1):focus {
  outline: none;
}
._2lpMf > :nth-child(1) > :nth-child(1) {
  margin: 0px auto;
  padding: 80px 0;
  font-size: 130px;
  color: #ff8700;
  width: inherit;
}
@media (max-width: 1080px) {
  ._2lpMf > :nth-child(1) > :nth-child(1) {
    font-size: calc(10vw + 30px);
  }
}
._2lpMf > :nth-child(1) > :nth-child(2) {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px 0;
  width: inherit;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button {
  display: inline-block;
  background-color: #808080;
  line-height: 22px;
  height: 32px;
  padding: 5px 16px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  color: #fafafa;
  margin: 0px 1%;
  padding: 5px 0;
  flex: 0 1 100px;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button:hover {
  background-color: #30363d;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button._3iW1E {
  background-color: #dc3545;
  transition: 0.3 background-color;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button._3iW1E:hover {
  background-color: #a03545;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.w9VxT {
  background-color: #28a745;
  transition: 0.3 background-color;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.w9VxT:hover {
  background-color: #287845;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.gMePe {
  background-color: #007bff;
  transition: 0.3 background-color;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.gMePe:hover {
  background-color: #007ba0;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.pJb9_ {
  background-color: #ffc107;
  transition: 0.3 background-color;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button.pJb9_:hover {
  background-color: #c8a007;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button._163cu {
  background-color: #ff8700;
  transition: 0.3 background-color;
}
._2lpMf > :nth-child(1) > :nth-child(2) > button._163cu:hover {
  background-color: #d27d00;
}
._2lpMf > :nth-child(1) > :nth-child(3) {
  flex: 1 1;
  overflow-y: scroll;
  margin: 5px 0px;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div {
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  color: #ff8700;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div:nth-child(1) {
  position: sticky;
  top: 0px;
  background-color: #d7d7d7;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div:nth-child(-n + 2) > :nth-child(3) {
  margin-right: 20px;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > div {
  font-size: 24px;
  font-family: clockicons;
  text-align: center;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > div:nth-child(1) {
  width: 100px;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > div:nth-child(2) {
  width: 160px;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > div:nth-child(3) {
  width: 160px;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div:hover > :nth-child(4) {
  opacity: 1;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > :nth-child(4) {
  opacity: 0;
  flex: 0 0 20px;
  height: 20px;
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > :nth-child(4) > svg {
  width: 100%;
  height: 100%;
}
._2lpMf > :nth-child(1) > :nth-child(3) > div > :nth-child(4) > svg path {
  fill: #f00;
}
._3EJq3 {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  overflow: hidden;
}
@media (max-width: 760px) {
  ._3EJq3 {
    max-height: 50vh;
  }
}
._3EJq3 > :nth-child(1) {
  flex: 0 0 auto;
  font-size: 20px;
  padding: 24px 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #28a745;
  transition: 0.3 background-color;
  color: #fafafa;
}
._3EJq3 > :nth-child(1):hover {
  background-color: #287845;
}
._3EJq3 > :nth-child(2) {
  flex: 1 1;
  overflow-y: scroll;
  scrollbar-width: thin;
}
._3EJq3 > :nth-child(2) > div {
  position: relative;
  cursor: pointer;
  padding: 25px;
  animation: TtTKD 0.3s;
}
._3EJq3 > :nth-child(2) > div._3cLp9 {
  background-color: #f2f2f2;
}
._3EJq3 > :nth-child(2) > div > :nth-child(1) {
  font-size: 24px;
  width: min-content;
}
._3EJq3 > :nth-child(2) > div > :nth-child(2) {
  padding-top: 4px;
  font-size: 14px;
  color: #28a745;
}
._3EJq3 > :nth-child(2) > div > :nth-child(2)._22r1C {
  color: #007bff;
}
._3EJq3 > :nth-child(2) > div:after {
  display: block;
  position: absolute;
  left: 3%;
  bottom: -1px;
  content: "";
  width: 94%;
  height: 1px;
  background-color: rgba(200,200,200,0.5);
}
@-moz-keyframes TtTKD {
  0% {
    height: 0;
    opacity: 0;
    padding: 0 25px;
  }
  100% {
    height: 95px;
    opacity: 1;
    padding: 25px;
  }
}
@-webkit-keyframes TtTKD {
  0% {
    height: 0;
    opacity: 0;
    padding: 0 25px;
  }
  100% {
    height: 95px;
    opacity: 1;
    padding: 25px;
  }
}
@-o-keyframes TtTKD {
  0% {
    height: 0;
    opacity: 0;
    padding: 0 25px;
  }
  100% {
    height: 95px;
    opacity: 1;
    padding: 25px;
  }
}
@keyframes TtTKD {
  0% {
    height: 0;
    opacity: 0;
    padding: 0 25px;
  }
  100% {
    height: 95px;
    opacity: 1;
    padding: 25px;
  }
}
.ay_h3 {
  display: flex;
  font-family: clockicons;
  font-size: 16px;
  font-weight: 200;
  justify-content: center;
}
.ay_h3 > span {
  padding: 0 3px;
  font-family: inherit;
  color: inherit;
  font-size: 0.6em;
  font-weight: inherit;
  text-decoration: underline;
}

._3PAXp {
  font-size: 19px;
  margin: 0 0 15px 0;
  line-height: 29px;
}
._1acqj {
  font-size: 23px;
  margin: 20px 0 10px;
}
._2GyCl {
  font-size: 21px;
  margin: 16px 0 8px;
  text-decoration: underline;
}
.OVx-B {
  font-weight: 600;
}
._1uj2h {
  font-style: italic;
}
._23-eT {
  display: block;
  margin: 0px auto;
}
._23-eT + ._1uj2h {
  display: block;
  text-align: center;
}
._2LsvQ {
  width: 100%;
  border-collapse: collapse;
}
._2LsvQ th {
  font-weight: 600;
}
._2LsvQ th,
._2LsvQ td {
  padding: 6px 13px;
  border: 1px solid rgba(0,0,0,0.2);
}
._2LsvQ thead tr:nth-child(1),
._2LsvQ tr:nth-child(even) {
  background-color: #f2f2f2;
}
.wtQWM > li,
._2ChGg > li {
  margin-left: 34px;
  font-size: 18px;
  line-height: 28px;
}

._3zaSQ {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  background-color: #e6e6e6;
  transition: 0.3s;
  z-index: 100;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
._3zaSQ+button {
  display: none;
  position: fixed;
  left: 100px;
  top: 17px;
  width: 32px;
  height: 32px;
  z-index: 100;
  transition: 0.3s;
}
._3zaSQ+button svg path {
  fill: #808080;
}
._3zaSQ+button:hover svg path {
  fill: #007bff;
}
@media (max-width: 800px) {
  ._3zaSQ._2Ll3E {
    left: -100px;
  }
  ._3zaSQ._2Ll3E+button {
    left: 17px;
  }
  ._3zaSQ+button {
    display: block;
  }
}
._3zaSQ > a {
  display: block;
  position: relative;
  height: 80px;
  text-decoration: none;
}
._3zaSQ > a > div:nth-child(1) {
  text-align: center;
  padding: 15px;
}
._3zaSQ > a svg {
  width: 35px;
  height: 35px;
}
._3zaSQ > a svg path {
  fill: #808080;
}
._3zaSQ > a > div:nth-child(2) {
  position: absolute;
  left: 0;
  top: 50px;
  line-height: 35px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
._3zaSQ > a > div:nth-child(2) > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25;
  font-size: 11px;
  font-family: Arial;
  color: #808080;
}
._3zaSQ > a._18GO0 {
  background-color: #c8c8c8;
}
._3zaSQ > a._18GO0 > div:nth-child(2) > span {
  color: #282828;
}
._3zaSQ > a._18GO0 svg path {
  fill: #ff8700;
}
._3zaSQ > a:not(._18GO0):hover {
  background-color: #d7d7d7;
}
._3zaSQ > a:not(._18GO0):hover path {
  fill: #007ba0;
}

._1vG8I {
  padding: 40px 10px;
}
@media (max-width: 660px) {
  ._1vG8I {
    padding: 40px 0;
  }
}
._1vG8I > :nth-child(1) {
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
  background-color: #fafafa;
}
._1vG8I > :nth-child(1) > :nth-child(1) {
  display: flex;
}
@media (max-width: 960px) {
  ._1vG8I > :nth-child(1) > :nth-child(1) {
    flex-direction: column;
  }
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  flex: 1 1;
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > header {
  padding: 20px 0 40px calc(9% + 36px);
}
@media (max-width: 960px) {
  ._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > header {
    padding: 20px 10px 40px;
  }
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > header > h1 {
  font-size: 32px;
  padding: 20px 0;
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > header > time {
  font-size: 13px;
  color: #808080;
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
}
@media (max-width: 960px) {
  ._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    flex-direction: column-reverse;
  }
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) > :nth-child(2) {
  flex: 1 1;
  padding: 0 10px 20px;
}
._1vG8I > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  flex: 0 0 30%;
}
._1sZiy {
  position: sticky;
  top: 20px;
  padding: 0 3% 0 6%;
  align-self: flex-start;
}
@media (max-width: 960px) {
  ._1sZiy {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 0;
    background-color: #e6e6e6;
  }
  ._1sZiy > a {
    margin: 0 4px;
  }
}
._1sZiy > a {
  margin-top: 10px;
  display: block;
  border-radius: 25px;
  width: 26px;
  height: 26px;
  fill: #a0a0a0;
}
._1sZiy > a > svg {
  display: block;
  height: 100%;
  width: 90%;
  margin: 0px auto;
}
._1sZiy > a:hover > svg {
  width: 100%;
}
._1sZiy > a._16qLy:hover {
  fill: #3b5998;
}
._1sZiy > a._1Heif:hover {
  fill: #00acee;
}
._1sZiy > a._25Lss:hover {
  fill: #43d854;
}
._1sZiy > a._2eMdv:hover {
  fill: #08c;
}
._1sZiy > a.zzCUA:hover {
  fill: #4c75a3;
}
._1A5wv {
  position: sticky;
  top: 0;
  height: 100%;
  padding: 14px;
}
@media (max-width: 960px) {
  ._1A5wv {
    padding: 0;
  }
}
._1A5wv > div {
  padding: 10px;
}
._1A5wv > div > :nth-child(1) {
  font-size: 20px;
  padding: 7px 14px;
}
._1A5wv > div > :nth-child(2) > a {
  display: block;
  position: relative;
  padding: 7px 14px;
  text-decoration: none;
  color: #007bff;
}
._1A5wv > div > :nth-child(2) > a:hover {
  color: #ff8700;
  text-decoration: underline;
}

.M7Pkc {
  padding: 40px 10%;
}
.M7Pkc > :nth-child(1) {
  padding: 20px;
  font-size: 20px;
}

.jjDLd {
  display: block;
}
._2SJQL {
  position: fixed;
  z-index: 999999;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.Wo1NF {
  display: flex;
  padding: 14px 14px;
  justify-content: center;
}
.Wo1NF > :nth-child(1) {
  display: flex;
}
.Wo1NF > :nth-child(1) > a {
  display: block;
  padding: 4px 8px;
}
.Wo1NF > :nth-child(1) > a:hover {
  color: #ff8700;
}
.Wo1NF > :nth-child(2) {
  padding: 4px 8px;
}

.NqbMu {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  background-color: #f2f2f2;
  transition: 0.3s margin-left;
  max-height: 100vh;
  height: 100vh;
}
.NqbMu > :nth-child(1) {
  padding: 40px;
  text-align: center;
}
.NqbMu > :nth-child(1) > :nth-child(1) {
  font-size: 60px;
  padding: 30px;
}
.NqbMu > :nth-child(1) > :nth-child(2) {
  font-size: 30px;
  color: #3c3c3c;
}
@media (max-width: 800px) {
  .NqbMu {
    margin-left: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  color: #282828;
}
input,
button,
select {
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
}
button,
select {
  cursor: pointer;
}
svg {
  width: 100%;
  height: 100%;
}
._2HBj3 {
  margin-left: 80px;
  background-color: #f2f2f2;
  transition: 0.3s margin-left;
}
@media (max-width: 800px) {
  ._2HBj3 {
    margin-left: 0;
  }
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}

